@charset "utf-8";

.pulldown-body {
    display: none;
    background-color: rgba(0, 0, 0, 0.03);
    max-height: 100%;
    margin-left: 3px;
}
.title_article{
    margin-left: 3px;
    color: #426e92;
}
.title_article_content{
    margin-left: 3px;
}


