@charset "utf-8";

label {
    
     
     cursor: pointer;
     padding: 15px 30px;
     margin: 0 10px 0 0;
     display: inline-block;
}

label input {
     opacity: 0;
     filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      font-size: 100px;
      cursor: pointer;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #77a8da;
  border: solid 1px #77a8da;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #77a8da;
  text-decoration: none;
  color: white;
}

.prof {
    width:788px;
    height:100%; 
    min-height:50px;
    margin-left: 3px;
    border-bottom: 1px solid #ccc;
}
.title{
    margin-top: 15px;
    display:inline-block; 
    width:150px;
    color:#788086;
}

