@charset "utf-8";

.title {
    border-bottom: 1px solid #ccc; 
    margin-left:3px; 
    width:991px; 
    height:70px;
}
.title1 {
    color:#788086;
    display:inline-block; 
    width:150px;
    margin-top:25px;
}
.content {
    display:inline-block; 
}


