@charset "utf-8";

.title {
    border-bottom: 1px solid #ccc; 
    margin-left:3px; 
    width:991px; 
    height:70px;
}
.title1 {
    color:#788086;
    display:inline-block; 
    width:150px;
    margin-top:25px;
}
.content {
    display:inline-block; 
}

.btn-search {
    display: inline-block;
    padding: 0.3em 1em;
    margin-top: 25px;
    margin-left: 3px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #77a8da;
    border: solid 1px #77a8da;
    border-radius: 3px;
    transition: .4s;
}

.btn-search:hover {
  background: #77a8da;
  text-decoration: none;
  color: white;
}

